*{
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

/*Black mode features*/
body.black{
    background-color: rgba(0, 0, 0, 0.726);
    transition: 0.5s;
}

body.black header{
    background-color: rgba(0, 0, 0, 0.726);
}

body.black header h3, body.black header p{
    color: white;
}

body.black header #menuButton{
    color: white;
}

body.black header nav{
    background-color: #df82a06e;
}

body.black header nav a{
    color: white;
}

body.black header .light-mode{
    filter: invert(1);
}

body.black main h2{
    color: white;
}

body.black main #members.list{
    color: white;
}

body.black main #members.list section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.726);
}

body.black .f1{
    background-color: rgb(233, 233, 233);
}


/*Black mode features*/

header{
    display: grid;
    grid-template-columns: 120px 1fr 45px 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.192);
}


.logo{
    grid-column: 1;
}

header h3, header p{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}


header p{
    font-size: 15px;
    margin-top: 50px;
}

#menuButton{
    grid-column: 4;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.light-mode{
    width: auto;
    height: 35px;
    cursor: pointer;
} 

nav{
    grid-column: 1/5;
    grid-row: 4;
    display: grid;
    grid-template-rows: 0fr;
    text-align: center;
    background-color: #cacbce;
    max-height: 0; /* Nav is hidden */
    overflow: hidden; /* It covers the content when the nav is closed */
    transition: max-height 0.5s ease, opacity 0.7s ease; /* Animation */
    opacity: 0; /* It starts completely transparent */
}

nav a{
    text-decoration: none;
    line-height: 40px;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

nav.open{
    display: flex;
    flex-direction: column;
    max-height: 300px; /* Ajusta según el contenido máximo del menú */
    opacity: 1; /* Totalmente visible */
}


#menuButton::before{
    content: "\2630";
  }

#menuButton.open::before{
    content: "x";
}


.hero picture img{
    width: 100%;
    height: 400px;
    box-shadow: 5px 10px 30px;
}

main{
    width: 90%;
    margin: 0 auto;
}

.f1{
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.formLogo{
    width: 200px;
}

.f1 label{
    display: block;
    padding-top: 1rem;
    margin-top: 15px;
}

.f1 input[type = 'text'],
input[type = 'email'],
input[type = 'file'],
input[type = 'tel'],
select{

    display: block;
    width: 100%;
    padding: .75rem;
}



.buttonContainer{
    text-align: center;
    margin-top: 30px;
}

button[type = 'submit']{
    border: none;
    padding: .75rem;
    width: 50%;
    background-color: #2c7b93;
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .8s;
    cursor: pointer;
}

button[type = 'submit']:hover{
    background-color: #417cacad;
    transition: .8s;
}

h2{
    text-align: center;
    margin-top: 40px;
}

.memberships{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberships div{
    background-color: #cacbce;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

.memberships div button{
    cursor: pointer;
    border: none;
    font-size: 20px;
}

dialog{
    line-height: 30px;
    border: none;
}

dialog button{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    padding: 10px;
}

dialog p{
    text-align: left;
}

dialog ul{
    list-style: none;
    text-align: left;
    padding: 0;
}


footer{
    padding: 30px;
    background-color: #2c7b93;
    margin-top: 20px;
    color: white;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.contact{
    margin-right: 60px;
}

footer img{
    width: 150px;
    
}

.social-media{
    display: grid;
    grid-template-columns: repeat(3, 110px);
    align-items: center;
    align-content: center;
    justify-items: center;
}