*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1{
   text-align: center;
   padding: 18px;
}

main{
    padding: 20px;
}

div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
}

section{
    margin-top: 20px;
    background-color: rgba(81, 190, 241, 0.452);
    padding: 20px;
    text-align: center;
    line-height: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.116);
}

